@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1>Bienvenido a Credit Card MVC</h1>
<p>Gestiona tus tarjetas de crédito de forma fácil y segura.</p>
<a href="/CreditCard/Statement/1" class="btn btn-primary">Ver Estado de Cuenta</a>

